@import url('./_variables.scss');
/* -============- Shimmer Animation -============- */

@keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
.shimmer {
    background: linear-gradient(90deg, var(--shimmer-primary) 0%, var(--shimmer-secondary) 51.04%, var(--shimmer-dark) 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}

@keyframes fromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.from-right-enter-active {
    animation: fromRight 0.3s ease-in-out;
}

.from-right-leave-active {
    animation: fromRight 0.3s ease-in-out reverse;
}
